---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactUs from "../components/ContactUs.astro";
---

<BaseLayout title="Donate" description="About Jeanine White Lorem Ipsum">
  <div class="stack">
    <main class="">
      <div class="banner-top">
        <div class="wrapper">
          <ContactUs />
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
<style>
  .banner-top {
    background-color: #f7f8fc;
  }
</style>
