---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactUs from "../components/ContactUs.astro";
import ContactDetails from "../components/ContactDetails.astro";
---

<BaseLayout title="Contact" description="Send us a message">
  <div class="stack">
    <main class="">
      <div class="banner-top">
        <div class="wrapper">
          <ContactUs />
        </div>
      </div>
    </main>
    <main class="">
      <!-- <div class="banner-top"> -->
      <div class="wrapper">
        <ContactDetails />
      </div>
      <!-- </div> -->
    </main>
  </div>
</BaseLayout>
<style>
  .banner-top {
    background-color: #f7f8fc;
  }
</style>
