---
// import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import InnerPageBanner from "../components/InnerPageBanner.astro";
import FooterSectionGal from "../components/FooterSectionGal.astro";
import SlickSlider from "../components/SlickSlider.astro";

---

<BaseLayout title="Our Gallery" description="His House Care Center">
  <div class="stack gap-20">
    <main class="stack gap-8">
      <div class="banner-top">
        <div class="wrapper">
          <InnerPageBanner
            title="Our Gallery"
            pageName="gallery"
            image="../assets/galleryimg/gallery-frame.png"
          />
        </div>
      </div>
      <section class="slider-gallery">
        <div class="wrapper">
          <h2 class="text-center">Moments of Compassion and Community</h2>
        </div>
      </section>
      <section>
        <div class="wrapper">
          <SlickSlider />

          <!-- <BootstrapSlider /> -->
        </div>
      </section>
    </main>
  </div>

  <section>
    <FooterSectionGal />
  </section>
  <style>
    .banner-top {
      padding: 100px 0;
      background-color: var(--gray-900);
    }
    .slider-gallery h2 {
      font-family: "Satoshi regular";
      margin-top: 100px;
      margin-top: 25px;
    }
    @media (max-width: 48em) {
      .img_resp_hide {
        display: none;
      }
      .banner-top {
        padding: 30px 0 !important;
      }
      section.slider-gallery h2 {
        font-size: 32px;
        text-align: left;
      }
    }
  </style>
</BaseLayout>
