---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
import { Image } from "astro:assets";
import logo from "../../public/assets/logo.svg";
---

<footer>
  <!-- Logo Section -->
  <div>
    <a href="/" class="site-title">
      <Image src={logo} alt="Logo" />
    </a>
  </div>

  <!-- Follow Us Section (Center) -->
  <div class="follow-us">
    <a href="#" target="_blank" class="social-icon">
      <img src="/public/assets/Facebook.svg" alt="Facebook Logo" />
    </a>
    <p>Follow Us</p>
  </div>

  <!-- Updated Copyright -->
  <div class="updated-copyright">
    <p>Copyright 2024 <br /> All rights reserved to His House Care Centre</p>
  </div>
</footer>

<style>
  .follow-us {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .follow-us p {
    font-size: 22px;
    text-decoration: underline;
    font-weight: 700;
  }
  .updated-copyright {
    text-align: end;
    font-size: 16px;
  }
  footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
    flex-wrap: wrap;
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  /* equal to 768px */
  @media (max-width: 48em) { 
    footer{
      justify-content: space-between;
    }
    .follow-us, footer .site-title {
      /* width: 50%; */
    }
    .updated-copyright{
      width: 100%;
      text-align: left;
    }
  }
  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
