---
interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
  className?: string;
}

const { align = "center", tagline, title,className } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class=`title ${className}`>{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }
  .tagline{
    color: var(--gray-999);
  }
  .title-black{
    color: var(--gray-0);
  }
  .title-white{
    color: var(--gray-999);
  }
  .title {
    font-size: var(--text-3xl);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-4xxl);
    }
  }
</style>
