---
// Accept a `type` prop to determine the style (e.g., "donate" or "contact").
const { href, type } = Astro.props;
---

<div class={`pill ${type}`}>
  <a href={href}><slot /></a>
</div>

<style>
  .pill a {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--gray-999);
    background-color: var(--theme-btn);
    border-radius: 4px;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    text-decoration: none;
  }

  /* Style for the "donate" type */
  .pill.donate a {
    color: var(--theme-btn);
    background-color: var(--gray-999);
  }
  .pill.donate a:hover {
    color: var(--theme-btn);
    background-color: #e4e9fa;
  }

  /* Style for the "contact" type */
  .pill.contact a {
    color: var(--gray-999);
    background-color: #2f3396;
  }

  .pill.contact a:hover {
    color: var(--gray-999);
    background-color: #202371;
  }
</style>
