---
// Accept a `type` prop to determine the style (e.g., "donate" or "contact").
const { href, type } = Astro.props;
---

<div class={`pillgallery ${type}`}>
  <a href={href}><slot /></a>
</div>

<style>
  .pillgallery a {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--gray-999);
    background-color: var(--theme-btn);
    border-radius: 4px;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    text-decoration: none;
  }

  /* Style for the "donate" type */
  .pillgallery.donate a {
    color: var(--theme-btn);
    background-color: var(--gray-999);
    border: 1px solid var(--theme-btn);
  }

  /* Style for the "contact" type */
  .pillgallery.contact a {
    color: var(--gray-999);
    background-color: var(--theme-btn);
  }
</style>
