---
import "swiper/css";
import "swiper/swiper-bundle.css";
import "swiper/css/navigation";

const images = [
  "/public/assets/sliderimages/3cd72364f18fa9b0ac1c25c967e1d3e9.jpeg",
  "/public/assets/sliderimages/562bc84c2c1ae33b794180f3a2d8718e.jpeg",
  "/public/assets/sliderimages/PortraitCard.png",
  "/public/assets/sliderimages/3cd72364f18fa9b0ac1c25c967e1d3e9.jpeg",
];
---
<div class="custom-wrapper">


<div class="swiper mySwiper-slider">
  <div class="swiper-wrapper">
    {
      images.map((image) => (
        <div class="swiper-slide">
          <img src={image} alt="Slider" />
        </div>
      ))
    }
  </div>
  
</div>
<div class="swiper-button-next mySwiper-next"></div>
  <div class="swiper-button-prev mySwiper-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<!-- Initialize the Slick slider after DOMContentLoaded -->

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  const swiper = new Swiper(".mySwiper-slider", {
    modules: [Navigation, Pagination],

    slidesPerView: 1,
    spaceBetween: 30,
    // loop: true,
    observer: true,
    direction: "horizontal",
    speed: 2400,
    parallax: true,
    breakpoints: {
      // when window width is >= 320px
      600: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  }); 
</script>

<style>
  .swiper {
    width: 90%;
    margin-bottom: 90px;
  }

  .swiper-wrapper img {
    width: 100%;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, -5px);
  }

  .custom-wrapper {
      position: relative;
  }
  .custom-wrapper img {
      height: 500px;
      object-fit: cover;
  }


  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: -40px;
  }

 
</style>
